<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/form.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style media="screen">
  </style>
</head>
<body>
  <div class="wrapper">
  	<div class="registration_form">
		<div>
			<h1 align="center"> Payment Gateway Application using RSA</h1>
		</div><br><br>
  		<div class="title">
  			Enter Card Details
  		</div>

  		<form action = "http://127.0.0.1:5000/register" method="post">
  			<div class="form_wrap">
  					<div class="input_wrap">
  						<label for="fname">Card Number</label>
  						<input type="text" id="card" name="card">
  					</div>
  					<div class="input_wrap">
  						<label for="name">Name on Card</label>
  						<input type="text" id="name" name="name">
  					</div>
                    
  				<div class="input_wrap">
  					<label for="pin">PIN</label>
  					<input type="password" id="pin" name="pin">
  				</div>
            
  				<div class="input_wrap">
  					<input type="submit" value="Make Payment" class="submit_btn">
  				</div>
				{{ msg }}
  			</div>
  		</form>
  	</div>
  </div>
</body>
</html>
